#wrapper {
    background-color: blanchedalmond;
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'sec sec sec'
    'main main main';
}

header{
    /* background-color: blanchedalmond; */
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
}

header h1{
    font-family: "obvia-expanded", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

header img{
    height: 150px;
    width: auto;
}

nav{
    grid-area: nav;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0.5rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

section{
    background-color: brown;
    grid-area: sec;
}

main{
    background-color: aliceblue;
    grid-area: main;
}