#wrapper {
    background-color: #FCDDA9;
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'sec sec sec'
    'main main main';
}

header{
    /* background-color: blanchedalmond; */
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
}

header h1{
    font-family: "latex-shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

header img{
    height: 150px;
    width: auto;
    transition: transform 2s;
}

header img:hover{
    transform: rotate(360deg);
}

nav{
    grid-area: nav;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #26959f;
    font-family: "latex-top", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    background-color: #26959f;
    grid-area: sec;
}

main{
    background-color: aliceblue;
    grid-area: main;
}